/* .slick-slide.slick-center {
    transform: scale(1.1);
    color: white;
    margin: 20px 0;
}

.slick-slide {
    transform: scale(0.7);
    padding: 0 20px;
}

.slider-features .slick-prev:before,
.slider-features .slick-next:before {
    font-family: '';
    border-radius: 100%!important;
    z-index: 100!important;
    padding: 14px;
    background-color: #4dbce9;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
    color: white !important;
    font-size: 28px;
    font-weight: bolder !important;
}

.slider-features .slick-prev:before:hover,
.slider-features .slick-next:before:hover {
    color: #4dbce9;
} */

.slick-slide.slick-center {
    transform: scale(1.1);
    color: white;
    margin: 20px 0;
}

.slick-slide {
    transform: scale(0.7);
    padding: 0 20px;
}

@media screen and (max-width: 780px) {
    .slick-slide.slick-center {
        transform: scale(1);
        color: white;
        margin: 0 0;
    }
    
    .slick-slide {
        transform: scale(1);
        padding: 0 0px;
    }
  }


.slider-features .slick-prev:before,.slider-features .slick-next:before{
    font-family: '';
    /* background-color: white; */
    border-radius: 40px;
    padding: 14px;
    background-color: #4dbce9;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
    color:white!important;  
    font-size: 24px;
    font-weight: bolder!important;
}

.slider-features .slick-prev:before:hover,.slider-features .slick-next:before:hover{
    color: #4dbce9;
}